 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top:16px;
    background-color: #FFFFFF;
}

nav{
    width:85%;
    max-width: 1360px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display:flex;
    list-style: none;
    gap:32px;
    align-items: center;
}

nav .menu a{
  font-size:16px; 
   font-weight: medium;
   text-decoration: none;
   color:#000000;
}
.nav-btn{
  background-color:#469165 ;
  border:none;
  padding: 12px 16px;
  border-radius: 5px;
  color:white;
  font-weight: 600;
  font-size: 16px;

}