 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    width:100%;
     padding-top:16px;
}

#nav{
    width:85%;
    max-width: 1360px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16;

}
.nav-logo img{
  width: 139px;
  height: 60px;
  margin-bottom:16px;
}
#nav .menu{
    display:flex;
    list-style: none;
    gap:32px;
    align-items: center;
}

#nav .menu a{
  font-size:16px; 
   font-weight: medium;
   text-decoration: none;
   color:#000000;
}
.nav-btn{
  background-color:#469165 ;
  border:none;
  padding: 12px 16px;
  border-radius: 5px;
  color:white;
  font-weight: 600;
  font-size: 16px;
cursor: pointer;
}

.banner-section{
  display:flex;
  justify-content: center;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  width:100%;
  min-height:100vh;
  /* problem */
  padding:200px 200px 300px 200px;
}
.banner-content-container{
  width:85%;
  max-width:1360px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.early-access{
  background-color: white;
  color:#469165;
  border-radius: 8px;
  border:none;
  padding:6px 8px;
  cursor:pointer;
}
.early-access.dot{
  display:inline-block;
  width:8px;
  height:8px;
  background-color: #2ecc71;
  border-radius: 50%;
  box-shadow:0 0 0 3px (46,204,113,0.2);
  margin-right:6px;
}

.early-text{
  font-weight:500px;
}
.banner-title{
font-size:72px;
font-weight: 700px;
color:white;
margin-top:16px;
margin-bottom:16px;
}
.title-color{
  color:#30B868;
  /* problem */
}
.banner-text{
  color:(255,255,225,1);
  margin-bottom:20px;
}

.banner-button{
  display:flex;
  gap:20px;
}
.arrow-btn-container{
  display:flex;
  align-items: center;
  border-radius:4px;
  border:none;
  background-color: (70,145,101,1);
  padding:10px 10px;
  cursor:pointer;
}

.arrow-title{
  color:white;
  font-weight: 500px;
  margin-right:6px;
}

.play-btn-container{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:6px;
  border: 1px solid(255,255,225,0.7);
  background-color: transparent;
  padding:10px 10px;
  outline:none;
  cursor:pointer;
}
.play-button{
  width:14px;
  height:14px;
  /* Problem */
  filter:brightness(0) invert(1);
  margin-right:6px;
}
.play-title{
  color:white;
  font-weight:500px;
}


#note{
  padding-top:44px;
  width:1600px;

}

.note-header{
  width:85%;
  max-width:1600px;
  margin:0 auto;
  align-items: center;

}
.note-header h1{
  text-align: center;
font-size: 48px;
color:#001931;
margin-bottom: 16px;
}
.note-header p{
  text-align: center;
  font-size:16px ;
  font-weight:400;
  color:#627382;
  margin-bottom: 44px;
}

#note .note-container{
  width:85%;
  max-width:1360px;
  margin:0 auto;
}
.note-box{
  display:flex;
  gap:24px;
}

.note-card{
  padding:16px 24px;
  max-width:322px;
  min-height: 300px;
   box-shadow: 0 6px 50px 0 #0000001f;
}
.note-card img{
  width:34px;
  background-color: #F95555;
  margin-bottom: 30px; 
}
.note-card h2{
  font-size: 24;
  font-weight: 600;
  color:#001931;
  margin-bottom: 16px;
}
.note-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  color:#627382;
  margin-bottom: 24px;
 
}
