 *{
    margin:0;
      padding:0;
    box-sizing: border-box;
 }


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#nav{
    width:100%;
    max-width: 1600px;
    margin-top: 16px;
}

.nav-container{
   width:85%;
   max-width: 1360px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16;

}
.nav-logo img{
  width: 139px;
  height: 60px;
  margin-bottom:16px;
}
#nav .menu{
    display:flex;
    list-style: none;
    gap:32px;
    align-items: center;
}

#nav .menu a{
  font-size:16px; 
   font-weight: medium;
   text-decoration: none;
   color:#000000;
}
.nav-btn{
  background-color:#469165 ;
  border:none;
  padding: 12px 16px;
  border-radius: 5px;
  color:white;
  font-weight: 600;
  font-size: 16px;
cursor: pointer;
}

#banner{
  background: url("../images/hero-bg.png");
  width:100%;
  max-width:1600px;
  height: 674px;
  padding:70px 120px 134px 120px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.early-btn{
  padding:8px 12px;
  background-color: white;
  color:#469165;
  border-radius:10px;
  border: none;
  cursor: pointer;
}
.dot{
  width:12px;
  height: 12px;
  background-color:#2ecc71;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 0px 3px rgba(46,204,113,0.2);
  margin-right: 6px;
}
.early{
font-weight: 600px;
}
.banner-container{
width:85%;
max-width:1360px;
}

.banner-container h1{
  font-size: 72px;
  font-weight: bold;
  color:white;
}
.banner-container .h1{
  font-size: 72px;
  font-weight: bold;
  color:#30B868;
  margin-bottom: 16px;
  margin-bottom: 16px;
}
.banner-container p{
font-size: 18px;
font-weight: 500;
color:white;
line-height: 36px;
margin-bottom: 32px;
}
.your{
  margin-left: 20px;
}

.start-banner{
  font-size: 16px;
  font-weight: 600px;
  color:white;
  padding:10px 10px 10px 16px;
  background-color: green;
  border-radius: 5px;
  margin: 10px;
}

.start-banner li{
  display: flex;
  align-items: center;
}
  .see-how{
   font-size: 16px;
  font-weight: 600px;
  padding:16px 10px 16px 16px;
  background: none;
  border:2px solid white;
  border-radius: 5px;
  color:white;
}



#note{
  padding-top:44px;
  width:1600px;
   margin:0 auto;

}
.note-container{
 width:85%;
  max-width:1360px;
  margin: 0 auto;
 
}


.note-header{
  text-align: center;
}


.note-header h1{
font-size: 48px;
color:#001931;
}
.note-header p{
  font-size:16px ;
  font-weight:400;
  color:#627382;
  margin-bottom:44px;
}

.note-box{
  display:flex;
  gap:24px;
 text-align: center;

 
}

.note-card{

  padding:16px 24px;
  max-width:322px;
  min-height: 300px;
   box-shadow: 0 6px 50px 0 #0000001f;
    padding-top: 60px;
}
.note-card img{
  width:34px;
  margin-bottom: 30px; 
  background-color: #F95555;
  border-radius: 10px;
}
.note-card h2{
  font-size: 24;
  font-weight: 600;
  color:#001931;
  margin-bottom: 16px;
}
.note-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color:#627382;
}

#solution{
  margin:120px 120px;
  /* border:1px solid red; */
  display:flex;
 
}

.solution-content{
  max-width:700px;
  margin:101px 120px 100px 60px;
}

#solution .solution-content h4{
font-size: 16px;
font-weight: 500;
color:#469165;
margin-bottom: 16px;
}
#solution .solution-content h1{
  font-size:48px; 
  font-weight: 700px;
  line-height: auto;
  color:#001931;
  margin-bottom: 16px;
}

#solution .solution-content p{
  font-size: 16px;
  font-weight: 400;
  color:#627382;
  line-height: 20px;
  margin-bottom: 40px;
}
.solution-img{
font-size:16px ;
font-weight: 500;
color:#001931;
line-height: 35px;
list-style: none;
gap:20;
}
.solution-img{
  max-width:585px;
}
.solution-img li{
display:flex;
align-items: center;
}

#about .about-container{
  width:85%;
  max-width:1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
  padding:80px 40px 80px 40px;
  margin-bottom: 120px;
}
.section-heading{
  max-width: 1280px;

}
.section-heading h2{
 font-size: 40px;
 font-weight:bold;
 color:#001931;
margin-bottom: 16px;
}
.section-heading p{
   font-size: 16px;
 font-weight:400;
 color:#001931;
 line-height: 24px;
margin-bottom: 24px;
}
.about-btn{
  font-size:16px;
  font-weight:500px; 
  color:#FFFFFF;
  background-color:#469165 ;
  padding:16px 0px 16px 16px;
  text-align: center;
  align-items: center;
}
.about-btn img{
 text-align: center;
  align-items: center; 

}

#footer{
 margin: 0px auto;
 background-color: #001931;
 width:1600px;
 height: 348px;
}

.footer-container{
  padding:120px 120px;
   margin: 0px auto;
 width:85%;
  max-width:1360px;
  justify-content: space-between;
 display:flex;
}

.footer-social p{
  color:white;
  margin-bottom: 20px;
}

.footer-container .menu-footer img{
  width:20px;
  height: 20px;
  
}
.footer-container{
 
}
.menu-footer{
  display: flex;
  justify-content: space-around;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.footer-logo{
  width:139px;
  height:60px;

}


.Personal{
  margin: 0 auto;
width:85%;
max-width:1360px ;
align-items: center;
text-align: center;
color:white;

}
    hr{
      height: 2px;
      background-color: rgb(22, 155, 22);
      margin-bottom: 20px;
    }